*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    font-family: Okra, Helvetica, sans-serif;
    width: 100%;
    /* position: relative; */
}

/* .head-section {
    box-shadow: rgb(232 232 232) 0px -0.5px 0px inset;
    width: 90%;
} */

/* .nav-header {
    display: block;
    width: 100%;
    height: 90px;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    font-size: 22px;
}


.starting_links {
    display: flex;
    padding: 8px 12px;
    color: #fff;
    align-items: center;
    top: -20px;
}

.starting_links a {
    font-family: Okra, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.bi-phone-flip {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 3px;
}

.nav-bar .end_links ul li {
    display: inline-flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 20px;

}

.nav-bar .end_links ul li a {
    font-family: Okra, Helvetica, sans-serif;
    transform: scale(0.7, 0.79);
    color: #fff;
    letter-spacing: 2px;
    font-size: larger;
    line-height: 27px;
    font-weight: lighter;
} */

/* new nav bar */

/* nav{
    background: white;
    box-shadow: 0 1px 3px 5px rgba(0,0,0,0.1);
    
} */
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.nav-toggle {
    /* position: relative; */
    font-size: 1.5rem;
    color: #fff;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.d-none {
    display: none;
}

.nav-toggle:hover {
    color: rgb(10, 51, 73);
    /* transform: rotate(90deg); */
}

.logo {
    height: 40px;
    /* background-color: black; */
}

.starting_links {
    display: flex;
    padding: 8px 12px;
    color: #222;
    align-items: center;
    top: -20px;
}

.starting_links a {
    font-family: Okra, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.bi-phone-flip {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 3px;
}

.links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

.show-links {
    height: 100vh;
    background: transparent;
    /* opacity: 1; */
    transition: all 0.5s ease-in-out;
}

.links a {
    color: #222;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
}

.links a:hover {
    color: hsl(205, 78%, 60%);
}

@media (max-width:800px) {
    .starting_links {
        display: none;
    }
    .fa-xmark{
        color: black;
    }
.show-links a{
    position: relative;
    top :100px;   
}
    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: absolute;
        z-index: 1;
    }
}

@media (min-width: 800px) {
    .nav-center {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: absolute;
        z-index: 1;
    }

    .nav-header {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: absolute;
        z-index: 1;
    }

    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .links a {
        color: #fff;
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a:hover {
        background: transparent;
    }

    .logo {
        display: none;
    }
}


/* new nav bar */

.baground-img-with-content {
    position: relative;
    width: 100%;
    height: 500px;
}

.background-image {
    width: 100%;
    height: 460px;
    overflow: hidden;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    opacity: 1;
    transition: all 1.4s ease 0s;
    /* margin-bottom: 50px; */
}

.content-wrapper {
    position: absolute;
    width: 100%;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-lg {
    width: 300px;
    height: 68px;
}

.content-wrapper .for-h1 {
    font-family: Okra, Helvetica, sans-serif;
    letter-spacing: normal;
    width: fit-content;
    transform: scale(1.1, 0.9);
    margin-top: 30px;
    max-width: 100%;
    /* min-width: 30%; */
    position: relative;
    left: 30px;
    font-size: 36px;
    font-weight: lighter;
    color: #fff;
}

.search-container {
    display: flex;
    /* position: relative; */
    margin-top: 30px;
    width: 60%;
    /* height: 100%; */
    align-items: end;
    justify-content: center;
}

.search-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    /* place-content: center; */
    border-radius: 10px;
}

.input-1 {
    font-family: Okra, Helvetica, sans-serif;
    width: 30%;
    height: 40px;
    /* right: -30px; */
    outline: none;
    border: none;
    border-radius: 10px;
}

.input-1::placeholder {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 15px;
}

.bi-geo-alt-fill {
    position: relative;
    padding: 5px;
    /* font-size: 40px; */
    /* left: 5px; */
    color: rgb(252, 134, 146)
}

.input-2 {
    font-family: Okra, Helvetica, sans-serif;
    width: 58%;
    height: 99%;
    right: -30px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.bi-caret-down-fill {
    color: rgb(92, 91, 91);
}

.sm-line {
    display: flex;
    align-items: center;
    height: 50px;
    width: 2px;
}

.bi-search {
    color: rgb(92, 91, 91);
}

.input-2::placeholder {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 15px;
}

.card-holder {
    position: relative;
    width: 90%;
    height: 500px;
    top: 10px;
    margin: 0 auto;
}

.card-container-1 {
    width: 550px;
    height: 200px;
    border-radius: 12px;
    cursor: pointer;
}

.card-container-1:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.0597);
}

.img-container-with-text {
    width: 580px;
    height: 230px;
    border-radius: 12px;
    border: 1px solid lightgrey;
}

.image-logo {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.text-descript {
    line-height: 1.5;
    padding: 5px 10px 5px 15px;
}

.order-text {
    font-family: Okra, Helvetica, sans-serif;
    font: bold;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5;
    color: black;
}

.sub-text {
    color: rgb(92, 90, 90);
    font-family: Okra, Helvetica, sans-serif;
    font-size: 16px;
}

.card-container-2 {
    position: relative;
    top: 100px;
    width: 100%;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 50px;
}

.text-line {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 36px;
    color: rgb(85, 81, 81);
    line-height: 43px;
    font-weight: lighter;
}

.text-card {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 400px;
    height: 80px;
    top: 100px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    cursor: pointer;
    padding: 3px 5px 3px 8px;
}

.text-div {
    width: 80%;
    line-height: 1.5;
}

.sklm {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: normal;
    left: 10px;
    letter-spacing: 1.5;
    color: rgb(70, 69, 69);
}

.places {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1.5;
    color: rgb(99, 97, 97);
}

.bi-chevron-right {
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 25px;
    order: 1;
}


.actual-content {
    max-width: 100vw;
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.left-content {
    max-width: fit-content;
    top: 30px;
    margin: 0;
}


.mobile-image {
    /* width: 260px; */
    height: 280px;
    object-fit: contain;
    margin: 0;
    box-shadow: 0px 1px lightgrey;

}

.right-content {
    height: 450px;
    flex-direction: column;
    right: 100px;
    top: 30px;
    margin-left: 20px;
}

.sub-content {
    display: flex;
    width: 520px;
    /* height: 430px; */
    flex-direction: column;
    justify-content: Center;
    /* align-items: center; */
    position: relative;
    top: 30px;
    box-sizing: border-box;
}

.getapp {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 44px;
    width: 520px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.theapp {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 16px;
    /* width: 100%; */
    margin-bottom: 25px;
    /* display: flex; */
    align-items: center;
    font-weight: 100;
    color: grey;

    line-height: 1.5;
}

.options {
    width: 240px;
    height: 60px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* padding: 8px; */
}

.select {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.opt-1[type=radio] {
    border: none;
    width: 100%;
    /* color: #1C1C1C; */
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
    /* margin-left: 10px; */
}

label {
    font-family: Okra, Helvetica, sans-serif;
    /* transform: scale(0.7, 0.9); */
    font-size: 16px;
    font-weight: 100;
    color: grey;
    cursor: pointer;
    margin-left: 8px;
    font: lighter;
}

.searchbox-2 {
    width: 68%;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 10px;
}

.searchbox-2:focus {
    outline: none;
    border: 1px solid dodgerblue;
}

/* .searchbox-2[type=placeholder]{
    font-size: 20px;
} */

input,
input::placeholder {
    font-size: 18px;
    font-family: Okra, Helvetica, sans-serif;

}

.search-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.share-btn {
    width: 30%;
    height: 50px;
    background: border-box rgb(239, 79, 95);
    color: #fff;
    border: rgb(239, 79, 95);
    border-radius: 8px;
    font-size: 16px;
    padding: 0 5px;
    cursor: pointer;
}

.download-text {
    font-family: Okra, Helvetica, sans-serif;
    color: grey;
    margin-bottom: 5px;
}

.download-links {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}


.download-link1 {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    /* margin-right: 15px; */
}

.imglink-1,
.imglink-2 {
    width: 137px;
}

.download-link2 {
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

.explore-content {
    position: relative;
    /* width: 90%; */
    height: 500px;
    padding: 5% 0px 5% 0px;
    top: 230px;
    align-items: center;
    margin: 0px 5% 0px 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.explore {
    width: 100%;
    font-family: Okra, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 545;
    color: rgb(63, 63, 63);
    /* margin-bottom: 20px; */
}

.populor-card-1 {
    width: 100%;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 30px;
    letter-spacing: 2;
    font-weight: 100;
    color: rgb(87, 86, 86);
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.h-5 {
    /* width: 99%; */
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 20px;
    color: rgb(87, 86, 86);
    font-weight: 400;

}

.populor-card-2 {
    width: 100%;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 30px;
    letter-spacing: 2;
    font-weight: 100;
    color: rgb(87, 86, 86);
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.populor-card-3 {
    width: 100%;
    font-family: Okra, Helvetica, Sans-Serif;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    letter-spacing: 2;
    font-weight: 100;
    color: rgb(87, 86, 86);
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.bi-chevron-down {
    color: black;
}

.bottom-section {
    position: relative;
    top: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(248, 248, 248);
}

.entire-division {
    /* position: absolute; */
    /* left: 75px; */
    width: 90%;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-flow: column nowrap; */
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 50px 0px;
}

@media (max-width: 480px) {

    .content-wrapper .for-h1 {
        max-width: 100%;
        transform: scale(1.1, 0.9);
        margin-top: 30px;
        font-size: 18px;
    }













    .card-container-1 {
        max-width: 350px;
        height: 200px;
    }

    .img-container-with-text {
        width: 350px;
        height: 230px;
    }

    .text-line {
        font-size: 24px;
        line-height: 33px;
    }

    .text-card {
        max-width: 350px;
    }

    .sklm {
        font-size: 20px;
    }

    .places {
        font-size: 14px;
    }

    .actual-content {
        top: 50px;
    }

    .left-content {
        display: none;
    }

    .right-content {
        width: 100%;
        height: max-content;
    }

    .sub-content {
        max-width: 380px;
        margin: 0 10px 0 0;
    }

    .getapp {
        font-size: 24px;
        width: 380px;
    }

    .theapp {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .options {
        width: 200px;
        height: 40px;
        margin-bottom: 10px;
    }

    .select {
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }

    label {
        font-size: 14px;
    }

    .searchbox-2 {
        width: 54%;
        height: 40px;
    }

    input,
    input::placeholder {
        font-size: 14px;
    }

    .search-container-2 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
        font-size: 14px;
    }

    .share-btn {
        width: 30%;
        height: 40px;
        font-size: 14px;
    }

    .download-links {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
    }

    .download-link1 {
        width: 140px;
        height: 40px;
    }

    .download-link2 {
        width: 142px;
        height: 40px;
    }

    .explore-content {
        height: 400px;
        top: 130px;
    }

    .explore {
        font-size: 24px;
    }

    .h-5 {
        font-size: 18px;
    }

    .bottom-section {
        width: 100%;
        top: 100px;
        /* width: fit-content; */
    }

    .row-1 {
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-end;
        gap: 30px;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    .last-zomato-logo {
        position: relative;
        width: 150px;
        height: 35px;
        background: none;
        left: 0;
    }

    .social-links {
        display: none;
    }

    .final-img-links {
        display: none;
    }

    .second-division {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        flex: 1;
        padding: 10px;
    }

    .column3 {
        max-width: 170px;
    }

    .Restaurants {
        max-width: 170px;
    }

    .enterprise {
        max-width: 170px;
    }


}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.sub-tiny-row1 {
    width: 270px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.last-zomato-logo {
    width: 150px;
    height: 35px;
    background: none;
}

.india-with-svg {
    width: 120px;
    height: 42px;
    border: 1px solid lightgrey;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.txt {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 18px;
    color: grey;
}


.english-with-svg {
    width: 130px;
    height: 42px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}


.final-text-line {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 520;
    margin-bottom: 10px;
    color: black;
}

.second-division {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

.about-zomoto {
    height: 220px;
    line-height: 1.5;
    box-sizing: border-box;
}

.who {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.blog {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.work {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.investor {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.report {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.contact {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.zomaverse {
    height: 220px;
    line-height: 1.5;
}

.Restaurants {
    margin-bottom: 30px;
    line-height: 1.5;
}

.enterprise {
    height: 90px;
}

.column3 {
    height: 220px;
}

.learn-more {
    height: 220px;
    line-height: 1.5;
}

.social-links {
    width: fit-content;
    height: 220px;
}

.iconlinks {
    width: fit-content;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.cvuzKA {
    margin-right: 5px;
}

.bi-linkedin {
    border-radius: 50px;
    color: black;
    background: white;
}

.bi-instagram {
    border-radius: 50%;
    color: white;
    background-color: black;
}

.bi-twitter {
    border-radius: 50%;
    color: white;
    background-color: black;
    padding: 2px;
}

.bi-youtube {
    border-radius: 50%;
    color: white;
    background-color: black;
    padding: 2px;
}

.bi-facebook {
    border-radius: 50%;
    color: black;
    background-color: white;
    padding: 2px;
}

.final-img-links {
    width: 137px;
    display: flex;
    flex-direction: column;
}

.final-image-1 {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.final-image-2 {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.get-margin {
    margin-top: 50px;
}

.last-txt {
    font-family: Okra, Helvetica, sans-serif;
    color: grey;
    letter-spacing: 1.5;
    line-height: 1.5;
    margin: 25px 0px 10px;
}