*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    font-family: Okra, Helvetica, sans-serif;
}

.head-section {
    box-shadow: rgb(232 232 232) 0px -0.5px 0px inset;
    width: 90%;
}

.nav-header {
    display: block;
    width: 100%;
    height: 90px;
    align-items: center;
    /* top: 0; */
    position: absolute;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    font-size: 22px;
}

/* .nav-bar .starting_links {
    flex: 1;
    text-align: left;
} */

.starting_links {
    display: flex;
    padding: 8px 12px;
    color: #fff;
    align-items: center;
    top: -20px;
}

.starting_links a {
    color: #fff;
    font-weight: 100;
}

.bi-phone-flip {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 3px;
}

.nav-bar .end_links ul li {
    display: inline-flex;
    justify-content: space-around;
    padding: 8px 12px;
    font-weight: 100;
    /* text-align: left; */
}

.nav-bar .end_links ul li a {
    font-family: Okra, Helvetica, sans-serif;
    transform: scale(0.9, 0.89);
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
    font-weight: 300;
}

.baground-img-with-content {
    position: relative;
    width: 100%;
    height: 500px;
}

.background-image {
    width: 100%;
    height: 460px;
    overflow: hidden;

}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    opacity: 1;
    transition: all 1.4s ease 0s;
    /* margin-bottom: 50px; */
}

.content-wrapper {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-lg {
    width: 300px;
    height: 68px;
}

.for-h1 {
    font-family: Okra, Helvetica, sans-serif;
    letter-spacing: 1.5;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 40px;
    color: #fff;
    bottom: 0px;
    text-align: center;
    font-weight: 10;
    font: 100px;
}

.search-container {
    display: flex;
    bottom: 0;
    width: 60%;
    height: 100%;
    align-items: end;
    justify-content: center;
}

.search-bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    /* place-content: center; */
    border-radius: 10px;
}

.input-1 {
    font-family: Okra, Helvetica, sans-serif;
    width: 30%;
    height: 40px;
    /* right: -30px; */
    outline: none;
    border: none;
    border-radius: 10px;
}

.input-1::placeholder {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 15px;
}

.bi-geo-alt-fill {
    position: relative;
    padding: 5px;
    /* font-size: 40px; */
    /* left: 5px; */
    color: rgb(252, 134, 146)
}

.input-2 {
    font-family: Okra, Helvetica, sans-serif;
    width: 58%;
    height: 99%;
    right: -30px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.bi-caret-down-fill {
    color: rgb(92, 91, 91);
}

.sm-line {
    display: flex;
    align-items: center;
    height: 50px;
    width: 2px;
}

.bi-search {
    color: rgb(92, 91, 91);
}

.input-2::placeholder {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 15px;
}

.card-holder {
    position: relative;
    width: 90%;
    height: 500px;
    top: 10px;
    margin: 0 auto;
}

.card-container-1 {
    width: 550px;
    height: 200px;
    border-radius: 12px;
    cursor: pointer;
}

.card-container-1:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.0597);
}

.img-container-with-text {
    width: 580px;
    height: 230px;
    border-radius: 12px;
    border: 1px solid lightgrey;
}

.image-logo {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.text-descript {
    line-height: 1.5;
    padding: 5px 10px 5px 15px;
}

.order-text {
    font: bold;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5;
    color: black;
}

.sub-text {
    color: rgb(92, 90, 90);
    font-size: 18px;
}

.card-container-2 {
    position: absolute;
    top: 320px;
    width: 100%;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 50px;
}

.text-line {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(85, 81, 81);
    font: 100;
}

.text-card {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 400px;
    height: 80px;
    top: 100px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    cursor: pointer;
    padding: 3px 5px 3px 8px;
}

.text-div {
    width: 80%;
    line-height: 1.5;
}

.sklm {
    font-size: 22px;
    font-weight: normal;
    font-family: Okra, Helvetica, sans-serif;
    left: 10px;
    letter-spacing: 1.5;
    color: rgb(70, 69, 69);
}

.places {
    font-size: 20px;
    letter-spacing: 1.5;
    color: rgb(99, 97, 97);
}

.bi-chevron-right {
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 25px;
    order: 1;
}

.middle-content {
    position: relative;
    top: 150px;
    width: 100%;
    height: 520px;
    /* display: flex; */
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(255, 251, 247);
}

.actual-content {
    position: absolute;
    width: 70%;
    height: 500px;
    top: 30px;
    display: flex;
    right: 150px;
    box-sizing: border-box;
    /* flex-grow: ; */
    /* flex-direction:row; */
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10px; */
}

.left-content {
    position: absolute;
    width: 280px;
    height: 450px;
    top: 30px;
    /* left: 30px; */
    /* display:flex; */
    align-items: flex-end;
    /* border-bottom: 1px solid red; */
}

.for-image-contain {
    position: relative;
    width: fit-content;
    height: 320px;
    top: 80px;
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
    box-shadow: 0px 0px 15px 10px solid grey;

}

.mobile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: flex; */
}

.forline {
    width: 300px;
    height: 12px;
    color: black;
    /* z-index: -1; */
}

.right-content {
    position: absolute;
    width: fit-content;
    height: 450px;
    flex-direction: column;
    right: 100px;
    top: 30px;
    margin-left: 20px;
}

.sub-content {
    display: flex;
    width: 520px;
    /* height: 430px; */
    flex-direction: column;
    justify-content: Center;
    /* align-items: center; */
    position: relative;
    top: 30px;
    box-sizing: border-box;
}

.getapp {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 55px;
    width: 520px;
    font-weight: 100;
    letter-spacing: 2;
    margin-bottom: 20px;
}

.theapp {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    margin-bottom: 25px;
    /* display: flex; */
    align-items: center;
    font-weight: 100;
    color: grey;

    line-height: 1.5;
}

.options {
    width: 240px;
    height: 60px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* padding: 8px; */
}

.select {
    display: flex;
    padding: 5px ;
    justify-content: space-between;
}

.opt-1[type=radio] {
    border: none;
    width: 100%;
    /* color: #1C1C1C; */
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
    /* margin-left: 10px; */
}

label {
    font-family: Okra, Helvetica, sans-serif;
    /* transform: scale(0.7, 0.9); */
    font-size: 20px;
    font-weight: 100;
    color: grey;
    cursor: pointer;
    margin-left: 8px;
    font: lighter;
}

.searchbox-2 {
    width: 68%;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 10px;
}

.searchbox-2:focus {
    outline: none;
    border: 1px solid dodgerblue;
}

/* .searchbox-2[type=placeholder]{
    font-size: 20px;
} */

input,
input::placeholder {
    font-size: 18px;
    font-family: Okra, Helvetica, sans-serif;

}

.search-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.share-btn {
    width: 30%;
    height: 50px;
    background: border-box rgb(239, 79, 95);
    color: #fff;
    border: rgb(239, 79, 95);
    border-radius: 8px;
    font-size: 16px;
    padding: 0 5px;
    cursor: pointer;
}

.download-text {
    font-family: Okra, Helvetica, sans-serif;
    color: grey;
    margin-bottom: 5px;
}

.download-links {
    width: 180px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* .download-1{
    width: 60px;
    height: 45px;
} */

/* .download-2{
    width: 60px;
    height: 45px;
} */
.download-link1 {
    width: 180px;
    height: 50px;
    border-radius: 8px;
    margin-right: 15px;
}

.download-link2 {
    width: 180px;
    height: 50px;
    border-radius: 8px;
}

.explore-content {
    position: relative;
    width: 90%;
    height: 500px;
    padding: 5% 0px 5% 0px;
    top: 230px;
    align-items: center;
    margin: 0px 5% 0px 5%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
}

.explore {
    width: 100%;
    font-family: Okra, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 545;
    color: rgb(63, 63, 63);
    margin-bottom: 20px;
}

.populor-card-1 {
    position: absolute;
    width: 100%;
    height: 80px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 30px;
    letter-spacing: 2;
    font-weight: 100;
    color: rgb(87, 86, 86);
    padding: 25px;
    cursor: pointer;
    border-radius: 8px;
}

.h-5 {
    width: 99%;
    font-family: Okra, Helvetica, Sans-Serif;
    font-weight: 400;

}

.populor-card-2 {
    position: absolute;
    top: 243px;
    width: 100%;
    height: 80px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 30px;
    letter-spacing: 2;
    font-weight: 100;
    color: rgb(87, 86, 86);
    padding: 25px;
    cursor: pointer;
    border-radius: 8px;
}

.populor-card-3 {
    position: absolute;
    top: 360px;
    width: 100%;
    height: 80px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 30px;
    letter-spacing: 2;
    font-weight: 100;
    color: rgb(87, 86, 86);
    padding: 25px;
    cursor: pointer;
    border-radius: 8px;
}

.bi-chevron-down {
    color: black;
}

.bottom-section {
    position: relative;
    top: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(248, 248, 248);
}

.entire-division {
    /* position: absolute; */
    /* left: 75px; */
    width: 90%;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-flow: column nowrap; */
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 50px 0px;
}

.row-1 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.sub-tiny-row1 {
    width: 270px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.last-zomato-logo {
    width: 150px;
    height: 35px;
    background: none;
}

.india-with-svg {
    width: 120px;
    height: 42px;
    border: 1px solid grey;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}
/* #capa_1{
    border: none;
} */
.txt {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 20px;
    color: grey;
}


.english-with-svg {
    width: 130px;
    height: 42px;
    border: 1px solid grey;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}


.final-text-line {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 14px;
    /* transform: scale(0.8, 0.49); */
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 520;
    margin-bottom: 10px;
    color: black;
    /* position: relative;
    right: 20px; */
}
.second-division {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about-zomoto {
    width: 200px;
    height: 220px;
    line-height: 1.5;
    box-sizing: border-box;
}

.who {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.blog {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.work {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.investor {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.report {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.contact {
    font-family: Okra, Helvetica, Sans-Serif;
    font-size: 16px;
    margin: 5px 0px;
    color: grey;
}

.zomaverse {
    width: 230px;
    height: 220px;
    line-height: 1.5;
}

.Restaurants{
    width: 280px;
    margin-bottom: 30px;
    line-height: 1.5;
}
.enterprise{
    width: 280px;
    height: 90px;
}

.column3 {
    width: 280px;
    height: 220px;
}

.learn-more {
    width: 220px;
    height: 220px;
    line-height: 1.5;
}

.social-links {
    width: 240px;
    height: 220px;
}

.iconlinks {
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.cvuzKA{
    margin-right: 5px;
}

.bi-linkedin {
    border-radius: 50px;
    color: black;
    background: white;
}
.bi-instagram{
    border-radius: 50%;
    color: white;
    background-color: black;
}

.bi-twitter{
    border-radius: 50%;
    color: white;
    background-color: black;
    padding: 2px;
}
.bi-youtube{
    border-radius: 50%;
    color: white;
    background-color: black;
    padding: 2px;
}

.bi-facebook{
    border-radius: 50%;
    color: black;
    background-color: white;
    padding: 2px;
}
.final-img-links{
    width: 150px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
}
.final-image-1{
    width: 100%;
    height:50px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.final-image-2{
    width: 100%;
    height:50px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.get-margin{
    margin-top: 50px;
}
.last-txt{
    font-family: Okra, Helvetica, sans-serif;
    color: grey;
    letter-spacing: 1.5;
    line-height: 1.5;
    margin: 25px 0px 10px;
}