*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(204, 216, 235, 1) 34%, rgba(222, 166, 240, 0.989233193277311) 77%);
}

/* .stop{
    width: 100%;
} */
.title{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: wrap;
    margin: 15px auto;
    
}
#authors-container {
    width: fit-content;
    display: flex;
    cursor: pointer;
}
.info{
    text-align: center;
}
.my-height {
    margin-right: 20px;
    padding: 6px;
}

.content {
    width: fit-content;
    height: 300px;
}

/* .positionabs {
    bottom: 0;
} */

.demo{
    display:inline-block;
    white-space: nowrap;
}

.author {
    display: inline-block;
    padding: 4px 10px;
    margin: 8px;
    width: fit-content;
    white-space: nowrap;
    background: rgb(97, 151, 97);
    color: #222;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.author:hover {
    color: white;
    transition: all 0.1s linear;
}

.listofquotes{
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    margin: 20px auto;
}

@media(max-width:700px) {
    #authors-container {
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .listofquotes {
        margin-right: 35px;
    }
    .stop{
        width: 90vw;
        /* display: flexbox; */
        /* flex-direction: column; */
        white-space: wrap;
    }
    .title{
        margin: 20px;
        width: 100%;
        /* max-width:850px; */
        text-align: center;
    }

}
@media (max-width:540px){
    #cardid{
        /* visibility: hidden; */
        display: none;
    }
    .stop{
        width: 100vw;
        /* display: flexbox; */
        /* flex-direction: column; */
        white-space: wrap;
    }
}

#author-name{
    width: fit-content;
    text-align: center;
}

/* .btnndesign{
    position: absolute;
    bottom: 0;
} */

.positionabs{
    bottom: 0;
    text-decoration: none;
    background-color: #198754;
    padding: 15px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
    color: #222;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    border: none;
    color: white;
    /* z-index: -1; */
}
.positionabs::before{
    content: "";
    position: absolute;
    background-color: lightgrey;
    width: 0; /*20px*/
    height: 0;/*20px*/
    top: var(--yposition); /*50% */
    left: var(--xposition); /* 50%; var used to get value from js   */
    border-radius: 50%;
    transform: translate(-50%, -50%); /*it makes put the item center -50% for x-axix other one Y axis*/
    transition: width .8s, height .8s; /*to get smooth*/
}
.positionabs:hover::before{
    width: 500px;
    height: 500px;
}
.positionabs span{
    position: relative;
    color: black;
}