.container{
    width:   600px;
    margin: 40px auto;
}
.card{
    box-shadow: 0 0 6px #ccc;
    padding: 12px;
    border-radius: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


.card-image{
    width: 100%;
    border-radius: 18px;
}

input{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
    margin-right: 10px;
}
input:focus{
    border: 1px solid lightgrey;
    outline: none;

}
.btn{
    padding: 16px;
    border: none;
    border-radius: 12px;
    background-color: dodgerblue;
    color: #ccc;
    cursor:pointer;
    font-size: 16px;
    margin-top: 15px;
}
.alert-msg{
    /* width: ; */
    display: none;
}

/* generating user cards */
.user-container{
    width:   600px;
    margin: 40px auto;
}

.user-card{
    /* width: 100%; */
    box-shadow: 0 0 6px #ccc;
    padding: 12px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.user-card h4{
    margin: 0;
}
.user-card p{
    margin: 0;
    color: grey;
}